body{
    background-image: url("../../assets/background.png");
    background-position: center bottom;
    background-size: 100%;
    background-repeat: no-repeat;
    background-color: #FF5959;
  }

  .bg{
    background-color: #FF5959;
  }

.title {
    margin-top: -180px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 75px;
    /* identical to box height */
    text-align: center;

    letter-spacing: 0.1em;

    color: #FFFFFF;
}

.buttons {
    margin: 20px 503px;
    width: 300px;
    height: 91px;

    border: 5px solid;
    box-sizing: border-box;
    border-radius: 17px;
    background: 0%;

    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 23px;
    text-align: center;
    letter-spacing: 0.1em;

    transition-duration: 300ms;
}

.buttons:hover {
    transition-duration: 200ms;
}

#login {
    background-color: #FFFFFF;
    color: #FE0606;
    border-color: #ffffff;
}

#login:hover {
    background-color: transparent;
    color: #FFFFFF;
    border-color: #ffffff;
}

.spacer{
    height: 30px;
}

.icon {
  height: 100%;
  width: 100%;
}

.iconbut{
  position: absolute;
  height: 34px;
  width: 100px;
  top: 24px;
  left: 24px;
  background-color: Transparent;
  background-repeat:no-repeat;
  border: none;
  cursor:pointer;
  overflow: hidden;
  outline:none;
  z-index: 1;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

.note{
    position: fixed;
    bottom: 12px;
    left: 24px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    /* identical to box height */

    text-align: center;

    color: rgba(0, 0, 0, 0.5);

  }

  /* //mobile changes */
  @media (min-width: 0px) and (max-width: 768px) {
    .title {
        font-size: 42px;
    }
  }
