body, html {
    height: 100%;
  }

  .bg {
    /* The image used */
    background-image: url("Assets/home-background.png");

    /* Full height */
    height: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #FF5959;
  }

.logo {
  width: 60%;
  height: 20%
}

.title {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 90px;
    /* identical to box height */
    text-align: center;

    letter-spacing: 0.1em;

    color: #FFFFFF;
}

.description {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    letter-spacing: 0.1em;
    text-align: center;

    color: #FFFFFF;
}

.register-button {
    width: 344px;
    height: 91px;

    border: 5px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 17px;
    background: 0%;

    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 23px;
    text-align: center;
    letter-spacing: 0.1em;

    color: #FFFFFF;
    transition-duration: 300ms;
}

.register-button:hover {
    background-color: #FFFFFF;
    color: #FE0606;
    transition-duration: 200ms;
}

.menu-button {
    height: 50px;
    width: 50px;

    background-size: 100%;
    background-color: transparent;
    background-image: url(assets/menu.png);
    border: 0;
    border-radius: 10px;

    z-index: 2;
}

.menu-button:hover {
    background-color: #FF5252;

    transition-duration: 200ms;
}

.menu-button:focus {
    background-color: #FF5252;
    transition-duration: 200ms;
}

.menu-button:focus ~ .navigation{
    opacity: 100%;
    transition-delay: 80ms;
    transition-duration: 200ms;
}

.navigation {
    opacity: 0;

    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    text-align: left;
    letter-spacing: 0.1em;

    color: #FFFFFF;
    transition-duration: 200ms, opacity 400ms;
    z-index: 2;

    background: 0;
    border: 0;
}

.navigation:hover {
    color: red;
    transition-duration: 200ms;
}

.navigationz {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.1em;

    color: #FFFFFF;
    transition-duration: 200ms, opacity 400ms;
}
.navigationz:hover {
    color: black;
    transition-duration: 200ms;
}

#about {
}

#locations {
}

#vaccine {
}

#clinic {
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

.test{
  border: 3px solid green;
}

.newcol{
  width: 50%;
  align-content: center;
  justify-content: center;
}

/* //mobile changes */
@media (min-width: 0px) and (max-width: 768px) {
  .newcol{
    width: 90%;
  }

  .title {
    font-size: 40px;
  }

  .description {
    font-size: 18px;
  }

  .register-button {
    width: 200px;
    height: 90px;
    font-size: 18px;
  }
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}

.spacer{
  height:30px;
}

.navbar-nav > li{
  padding-left:15px;
  padding-right:15px;
}
