body {
    background-image: url(assets/home-background.png);
}

.logo {
    position: absolute;
    width: 378px;
    height: 128.1px;
    left: 530px;
    top: 120px;
}

.title {
    position: absolute;
    width: 980px;
    height: 165px;
    left: 230px;
    top: 22%;
    
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 90px;
    line-height: 165px;
    /* identical to box height */
    
    text-align: center;
    letter-spacing: 0.1em;
    
    color: #FFFFFF;
}

.description {
    position: absolute;
    width: 1306px;
    height: 110px;
    left: 67px;
    top: 370px;
    
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    line-height: 55px;
    text-align: center;
    letter-spacing: 0.1em;
    
    color: #FFFFFF;
}

.register-button {
    position: absolute;
    width: 344px;
    height: 91px;
    left: 548px;
    top: 550px;

    border: 5px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 17px;
    background: 0%;

    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 23px;
    line-height: 30px;
    text-align: center;
    letter-spacing: 0.1em;

    color: #FFFFFF;
    transition-duration: 300ms;
}

.register-button:hover {
    background-color: #FFFFFF;
    color: #FE0606;
    transition-duration: 200ms;
}

.navigation {
    position: absolute;
    height: 28px;
    left: 50px;

    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    text-align: left;
    letter-spacing: 0.1em;

    color: #FE0606;
    transition-duration: 200ms;
    background: 0;
    border: 0;
}

.navigation:hover {
    color: #FFFFFF;
    transition-duration: 200ms;
}

#about {
    top: 67px;
    width: 84px;
}

#locations {
    top: 97px;
    width: 84px;
}

#vaccine {
    top: 127px;
    width: 304px;
}

#clinic {
    top: 157px;
    width: 304px;
}