body{
    background-image: url("../../assets/background.png");
    background-position: center bottom;
    background-size: 100%;
    background-repeat: no-repeat;
    background-color: #FF5959;
  }

.title {
    margin-top: -180px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 90px;
    /* identical to box height */
    text-align: center;

    letter-spacing: 0.1em;

    color: #FFFFFF;
}

.buttons {
    margin: 10px 50px;
    width: 120px;
    height: 45px;

    border: 5px solid;
    box-sizing: border-box;
    border-radius: 8px;
    background: 0%;

    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 17px;
    text-align: center;
    letter-spacing: 0.1em;

    transition-duration: 300ms;
}

.buttons:hover {
    transition-duration: 200ms;
}

#login {
    background-color: #FFFFFF;
    color: #FE0606;
    border-color: #ffffff;
}

#login:hover {
    background-color: transparent;
    color: #FFFFFF;
    border-color: #ffffff;
}

.spacer{
    height: 8px;
}

.icon {
    position: absolute;
    height: 34px;
    width: 100px;
    top: 24px;
    left: 24px;
}

.note{
    position: fixed;
    bottom: 12px;
    left: 24px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    /* identical to box height */
  
    text-align: center;
  
    color: rgba(0, 0, 0, 0.5);
  }

label {
    margin: 10px 0px -30px 51.5px;
    /* margin-left: 51.5px;
    margin-bottom: -30px; */
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    text-align: center;
    letter-spacing: 0.1em;

    color: #FFFFFF;
}

input:focus {
    outline: none;
}

.input {
    margin-left: 50px;
    margin-bottom: 25px;
    background: none;
    border: none;
    border-bottom: 3px solid black;

    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    text-align: left;
    letter-spacing: 0.1em;
}